* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* Common */
.text-orange {
  color: #fd6e0a;
}
.mt-1 {
  margin-top: 20px !important;
}
.mt-2 {
  margin-top: 30px !important;
}
.mt-3 {
  margin-top: 50px !important;
}
.mt-4 {
  margin-top: 110px !important;
}
.mt-5 {
  margin-top: 130px !important;
}
.mb-1 {
  margin-bottom: 20px !important;
}
.mb-2 {
  margin-bottom: 35px !important;
}
.mb-5 {
  margin-bottom: 130px !important;
}
.me-2 {
  margin-right: 35px !important;
}
.pt-3 {
  padding-top: 50px !important;
}
.pb-3 {
  padding-bottom: 50px !important;
}
.text-center {
  text-align: center;
}
.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
}
.btn-orange {
  background-color: #fd6e0a;
}
.btn-outline-orange {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
.btn-outline-orange:hover {
  background-color: #fd6e0a;
  color: #ffffff;
}
section {
  margin-top: 130px;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
/* Header  */
.header {
  background-color: #fff8f3;
  background-image: url("../resources/images/developer.png"),
    url("../resources/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* nav  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 130px;
}
.navbar-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav-item {
  list-style: none;
}
/* Banner  */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 60px 0px 130px;
}
.hero-subtitle {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.hero-title {
  font-weight: 700;
  font-size: 65px;
  color: #181818;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
/* Main */
main,
#contact .contact-container {
  max-width: 1140px;
  margin: 0 auto;
}
/* About Me  */
#about {
  background-color: #fff8f3;
  padding: 130px 156px;
}
.description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}
#about table th {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
#about table td {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* What I Do */
#what-i-do .description {
  padding: 0px 156px;
}
.skills {
  display: flex;
  gap: 30px;
}
.skill {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
}
.skill-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
/* Resume*/
.resume-container {
  display: flex;
  gap: 70px;
}
.resume-title {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
}
.title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
}
.subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-top: 10px;
}
.resume-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.divider {
  border: 1px solid #d1d1d1;
}
/* Contact */
#contact {
  background-color: #fff8f3;
}
.contact-container {
  display: flex;
  gap: 115px;
  padding: 130px 156px;
}
.connect {
  width: 50%;
}
.connect-description {
  font-weight: 400;
  font-size: 16px;
  color: #474747;
}
.icon {
  margin-right: 10px;
}
.message {
  width: 50%;
}
.message form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.message form input {
  padding: 10px;
}
.contact-submit-btn {
  width: 150px;
}
